/***** this is one exmaple of a css file for left menu *********/
/*** dom of a typical left menu is as below. This helps you in understanding css
<div.leftMenu>
    <div style="position:relative">
        <div.trunkNodeText>menu item 1...</div>
        <div.nodeGroup style="position:absolute">
            <div.leafNodetext>page 1 </div>
            <div style="position:relative">
                <div.branchNodeText>sub-menu 1 </div>
                <div.nodeGroup style="position:absolute">
                etc.....
            </div>
        </div>
        <div style="position:relative">
    </div>
</div>

*******/
.leftMenu
{
    display:inline-block;
}

/* Let us take a bottom-up approach. Three types of nodes, trunck, branch and leaf */

div.trunkNodeText, div.leafNodeText, div.branchNodeText
{
    cursor:pointer;
    white-space:nowrap;
    padding-left:15px;
    border:solid 1px transparent; /* so that the size does not change on hover where we show a border*/
    border-radius:6px;
    /* on hower we want to highlight only the text, and not empty space. Hence we use inline-block, so that width does not expand to available width */
    display:inline-block;
    float:left;
    clear:both;
    padding-right:5px;
}

div.trunkNodeText:hover, div.leafNodeText:hover, div.branchNodeText:hover
{
    background-color: #eeeeff;
    border-color: #aaaacc;
}
div.trunkNodeText, div.branchNodeText
{
    background-image:url('../../images/plus.gif');
    background-repeat:no-repeat;
    background-position:left top;
}
div.trunkNodeText[expanded], div.branchNodeText[expanded]
{
    background-image:url('../../images/minus.gif');
    background-repeat:no-repeat;
    background-position:left top;
}
div.nodeGroup
{
    margin-left:20px;
}
div.nodeBranch
{
}    
